/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'antd/dist/antd.min.css'; */

:root {
  --primary-color: rgb(26, 148, 255);
  --button-color: rgb(13, 92, 182);
  /* --primary-color: #9255FD; */
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: rgb(11, 116, 229);
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #efefef;
  /* font-size: 62.5%; */
}

.ant-upload-list-item-info {
  display: none
}
.ant-upload-list-item {
  display: none !important;
}